Flask==3.1.3
Werkzeug==3.1.3
Flask-Mail==0.10.0
mysql-connector-python==9.7.0
python-dotenv==1.2.2
cloudinary==1.41.0
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
openpyxl==3.1.2